a:link { font-size: 9pt; }

a:visited { font-size: 9pt; }

a:hover { font-size: 9pt; }


a.subnav:link { font-size: 15pt; }

a.subnav:visited { font-size: 15pt; }

a.subnav:hover { font-size: 15pt; }


a.small:link { font-size: 7pt; }

a.small:visited { font-size: 7pt; }

a.small:hover { font-size: 7pt; }


a.white:link { font-size: 9pt; }

a.white:visited { font-size: 9pt; }

a.white:hover { font-size: 9pt; }


.text {  font-size: 9pt; line-height: 14pt; }
.title {  font-size: 18pt; }
.small-text {  font-size: 7pt; }
.red {  font-size: 9pt; }
.white { font-size: 9pt; }

.bold {  font-size: 13pt; }

.signature { position: absolute; float: right; top: 150px; left: 216px; z-index: 100; }